/*
  homepage.html
*/

body {
	background-color: #d1be9b;
	color: #fff;
	height: 100%;
	width: 100%;
}

#title {
	top: 0;
	left: 0;
	right: 0;
	background-color: #7d4215;
	padding: 10px;
	text-align: center;
}

main {
  display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#links {
	position: sticky;
	position: -webkit-sticky;
	top: -1px;
	width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
	padding: 10px;
	background-color: #7d4215;
	border-bottom: 4px double #fff;
}

footer {
  position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #7d4215;
	padding-top: 10px;
  border-top: 4px double #fff;
	text-align: center;
}

div.container {
	display: flex;
	flex-flow: column wrap;
	padding: 10px;
	margin: 2em;
	max-width: 1000px;
	border: 3px double #fff;
}

div.index {
	justify-content: center;
	gap: 10px;
}

mark {
	background-color: #fff;
}

div.gallery {
	justify-content: center;
	flex-flow: row wrap;
}

div.gallery > * {
	flex:1;
	min-width: 312px;
}

div.find {
	max-width: 600px;
}

#myTabContent {
	padding: 15px;
}

a {
	color: white;
	text-decoration: underline;
}

img.portrait {
	max-height: 400px;
	width: auto;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}
